{% extends "base.j2" %}
{% block body %}
<div class="container">
    <div class="d-flex align-items-center">
    <form style="margin:0 auto;margin-top:100px;">
        <div class="row">
            <div style="margin:0 auto">
            <div class="col">
      	        <div class="input-group">
                    <input type="text" v-model="username"　name="username" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">
                </div>
            </div>
            <div class="col">
      	        <div class="input-group">
                    <input type="text" v-model="password"　name="password" class="form-control" placeholder="Password" aria-label="Password" aria-describedby="basic-addon1">
                </div>
            </div>
            </div>
        </div>
        <div class="row">
             <button type="button" class="btn btn-primary" style="margin:12px auto;width:300px;" v-on:click="login">Login</button>
        </div>
    </form>
    </div>
</div>
{% endblock %}
{% block trailing %}
{% endblock %}
