{% extends "base.html" %}
{% block body %}
<div class="row" style="margin:20px;padding:20px">
	<div class="col-1">
	</div>
	<div class="col">
		<div id="accounts">
			<button type="button" class="btn btn-primary" v-on:click="next">Next</button>
			<button type="button" class="btn btn-secondary" v-on:click="prev">Prev</button>
			<div style="margin-top: 32px;">検索</div>
			<div>
			   <select v-model="selected" @change="onChangeInput($event)">
					<option v-for="option in options" v-bind:value="option.name" v-bind:key="option.id">
						[[ option.name ]]
					</option>
	        	</select>
			   <select v-model="selected" @change="onChangeInput($event)">
					<option v-for="option in studio" v-bind:value="option.name" v-bind:key="option.id">
						[[ option ]]
					</option>
	        	</select>
			</div>
			<div style="margin-top: 32px;text-align: right;">
				<h3>総件数: [[count]] 件</h3>
			</div>
			<table class="table">
				<thead>
				<tr>
					<th scope="col">企業名</th>
					<th scope="col">所属スタジオ名</th>
					<th scope="col">ニックネーム</th>
					<th scope="col">メールアドレス</th>
					<th scope="col">タイプ</th>
					<th scope="col">課金・非課金</th>
					<th scope="col">入会日</th>
				</tr>
				</thead>
				<tbody>
				<tr v-for="account in items">
					<td>[[account.company]]</td>
					<td>[[account.studio]]</td>
					<td>[[account.user]]</td>
					<td>[[account.username]]</td>
					<td>[[account.type]]</td>
					<td>[[account.subscribe]]</td>
					<td>[[account.date]]</td>
				</tr>
				</tbody>
			</table>
		</div>
	</div>
	<div class="col-1">
	</div>
</div>
{% endblock %}
{% block trailing %}
<script>
	new Vue({
		el: "#accounts",
		delimiters: ["[[", "]]"],
		data: () => {
			return {
				protocol: "http:",
				host: "localhost:5000",
				items: [],
				key: "",
				limit: 20,
				skip: 0,
				count: 0,
				selected: '全て',
				studio: [],
				options: [
                    { id: 1, name: '全て' },
                    { id: 2, name: '課金' },
                    { id: 3, name: '未登録' }
                ]
			}
		},
		methods: {
			next: function (event) {
				this.skip += this.limit;
                this.get();
			},
			prev: function (event) {
                if (this.skip) {
                    this.skip -= this.limit;
                }
                this.get();
			},
            get: function () {
                axios.get(this.protocol + '//' + this.host + '/api/accounts?key=' + this.key + "&limit=" + this.limit + "&skip=" + this.skip + "&category=" + this.selected)
                    .then((response) => {
                        this.items = response.data;
                    }).catch((e) => {
                    console.log(e);
                })
                axios.get(this.protocol + '//' + this.host + '/api/accounts/count?key=' + this.key + "&category=" + this.selected)
                    .then((response) => {
	                    this.count = response.data;
                    }).catch((e) => {
                    console.log(e);
                })
				axios.get(this.protocol + '//' + this.host + '/api/accounts/studio?key=' + this.key)
                    .then((response) => {
	                    this.studio = response.data;
                    }).catch((e) => {
                    console.log(e);
				})
            },
            onChangeInput(event) {
	            console.log(this.selected)
	            this.get()
            },
		},
		mounted() {
			this.key = "key";
			this.skip = 0;
            this.get();
		}
	})
</script>
{% endblock %}
