{% extends "base.j2" %}
{% block body %}
<div class="container">
  <div class="row">
    <form action="http://localhost:5000/login" method="POST">
        <div class="col-6">
      	    <div class="input-group">
                <input type="text" name="username" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">
            </div>
        </div>
        <div class="col-6">
      	    <div class="input-group">
                <input type="text" name="password" class="form-control" placeholder="Password" aria-label="Password" aria-describedby="basic-addon1">
            </div>
        </div>
        <button type="submit" class="btn btn-primary">login</button>
    </form>
  </div>
</div>
{% endblock %}
{% block trailing %}
{% endblock %}
