{% extends "base.j2" %}
{% block body %}
	<div class="row" style="margin:20px;padding:20px">
		<div class="col-1">
		</div>
		<div class="col" id="studios">
			<table class="table">
				<thead>
				<tr>
					<th scope="col">studio name</th>
					<th scope="col">name</th>
					<th scope="col">valid count</th>
					<th scope="col">all count</th>
				</tr>
				</thead>

				<tbody>

					<tr v-for="studio in items" >
						<td>[[studio.name]]</td>
						<td>[[studio.nickname]]</td>
						<td>[[studio.valid_count]]</td>
						<td>[[studio.all_count]]</td>
					</tr>

				</tbody>
			</table>
		</div>
		<div class="col-1">
		</div>
	</div>
{% endblock %}
{% block trailing %}
<script>
	new Vue({
		el: "#studios",
		delimiters: ["[[", "]]"],
		data: () => {
			return {
				protocol: "http:",
				host: "localhost:5000",
				items: []
			}
		},
		methods: {
            get: function () {
                axios.get(this.protocol + '//' + this.host + '/api/studios')
                    .then((response) => {
                        this.items = response.data;
                    }).catch((e) => {
                    console.log(e);
                })
            },
		},
		mounted() {
            this.get();
		}
	})
</script>
{% endblock %}
