{% extends "base.j2" %}
{% block body %}
	<div class="row" style="margin:20px;padding:20px">
		<div class="col-1">
		</div>
		<div class="col">
			<table class="table">
				<thead>
				<tr>
					<th v-on:click="name" scope="col" style="cursor: pointer">↕メールアドレス</th>
					<th v-on:click="nickname" scope="col" style="cursor: pointer">↕スタジオ名</th>
					<th v-on:click="valid_count" scope="col" style="cursor: pointer">↕支払い</th>
					<th v-on:click="all_count" scope="col" style="cursor: pointer">↕トータル</th>
				</tr>
				</thead>

				<tbody>

					<tr v-for="studio in items" >
						<td>[[studio.name]]</td>
						<td>[[studio.nickname]]</td>
						<td>[[studio.valid_count]]</td>
						<td>[[studio.all_count]]</td>
					</tr>

				</tbody>
			</table>
		</div>
		<div class="col-1">
		</div>
	</div>
{% endblock %}
{% block trailing %}
{% endblock %}
