{% extends "base.j2" %}
{% block body %}
    <div class="row" style="margin:20px;padding:20px">
        <div class="col-1">
        </div>
        <div class="col">
            <div id="totallings">
                <ul class="list-group">
                    <li class="list-group-item" v-for="item in items">
                        <a v-bind:href="'http://localhost/totalling?key=' + key + '&studio=' + item.username">[[item.nickname]]</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-1">
        </div>
    </div>
{% endblock %}
{% block trailing %}
    <script>
        new Vue({
            el: "#totallings",
            delimiters: ["[[", "]]"],
            data: () => {
                return {
                    protocol: "http:",
                    host: "localhost:5000",
                    items: []
                }
            },
            methods: {},
            mounted() {
                var key = "key";
                axios.get(this.protocol + '//' + this.host + '/usernames?key=' + key + '&type=studio')
                    .then((response) => {
                        this.items = response.data;
                        this.key = key;
                    });
            }
        })
    </script>
{% endblock %}
